<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ifra Bint-e-Khalid Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/static/assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Ifra Bint-e-Khalid</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://www.facebook.com/ifra.bintekhalid.7" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/ifrabintekhalid/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://github.com/ifra881" class="google-plus"><i class="bx bxl-github"></i></a>
          <a href="https://www.linkedin.com/in/ifra-b-53289b24a/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
         
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Ifra Bint-e-Khalid</h1>
      <p>I'm <span class="typed" data-typed-items="Designer, Front-end Developer, Backend Developer"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>I am highly motivated and dedicated young individual currently pursuing a Bachelor's degree in Computer and Information Systems Engineering at NED University of Engineering and Technology in Karachi, Pakistan. With a strong passion for computer science and a keen interest in software development and programming languages, I am well-equipped with the skills needed to excel in the field.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="/static/assets/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>UI/UX Designer &amp; Web Developer.</h3>
            <p class="fst-italic">
              I am a versatile professional with a strong skill set in web development, UI/UX design, and frontend development. With a deep understanding of Django and a creative eye for design, I bring a unique blend of technical expertise and aesthetic sensibility to every project.
            </p>
            <p>
              My ability to bridge the gap between design and development, coupled with my expertise in Django, UI/UX design, and frontend development, makes me a valuable asset to any web development project. My goal is to create web interfaces that captivate users and provide a seamless experience across various devices and browsers. I am passionate about crafting exceptional web solutions that meet both technical and user-centric requirements.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Experienced in building robust and scalable web applications, managing databases, and ensuring security through Django's Python-based framework. Skilled in creating user-centric interfaces, wireframing, prototyping, and translating designs into responsive, performance-optimized websites using HTML, CSS, and JavaScript.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">HTML <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

           

            <div class="progress">
              <span class="skill">WordPress/CMS <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Django <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>A highly capable and driven student with a strong foundation in computer science, exceptional technical skills, and a proven track record in leadership and teamwork. Her academic excellence, combined with her passion for computer science, positions her for a successful and impactful career in the field, with the potential to inspire and empower other women in Pakistan to pursue similar paths in the vast field of Computer Science.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Ifra Bint-e-Khalid</h4>
              <p><em>Motivated Bachelors of Engineering student in Computers and Information Systems at NED University. Skilled in Software Applications, Programming Languages, and Microsoft Office. Proficient in Multisim, MatLab, Electronic Workbench, and Python IDEs. Excels under pressure with a strong academic and extracurricular record. Passionate, leadership-driven, and committed to empowering women in Computer Science.</em></p>
              <ul>
                <li>R-171 Sector 9, North Karachi,78580, Pakistan</li>
                <li>0320-2082461</li>
                <li>ifrakhalid881@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>BE IN COMPUTER AND INFORMATION SYSTEM ENGINEERING</h4>
              <h5>2020 - Present</h5>
              <p><em> NED UNIVERSITY 
                OF ENGINEERING AND TECHNOLOGY, KARACHI</em></p>
              <ul>
                <li>Currently Enrolled in BE program</li>
                <li>Current CGPA : 3.512</li>
                <li>Merit Based Scholarship holder</li>
                <li>Graduation expected : 2024</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>PRE ENGINEERING</h4>
              <h5>2017 - 2019</h5>
              <p><em>Metropolis Intermediate College</em></p>
              <p>Passed intermediate with A-one grade (88%)</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Work Experience</h3>
            <div class="resume-item">
              <h4>Intern </h4>
              <h5>October - November</h5>
              <p><em>RCAI Lab, NED University of Engineering and Technology </em></p>
              <ul>
                <li>Lead in the design, development, and implementation of the Frontend of the website</li>
                <li>Supervise the assessment of backend in Django</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Team Lead in a Society</h4>
              <h5>2022 - 2023</h5>
              <p><em>ASME Society of NED University</em></p>
              <ul>
                <li>Lead in the design, development, and implementation of the Frontend and Backend of the society's website</li>
                <li>Recommended and consulted with clients on the most appropriate website design</li>
                <li>Created 2+ design presentations and proposals a month for clients and account managers</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="button-file">
          <a style="color: rgba(74, 0, 89, 0.707); font-weight: 800;" href="/static/assets/Ifra Binte Khalid_resume.pdf" target="_blank"><button>Complete Resume Downlaod</button></a>     
         </div>
      </div>
     
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>"Explore my portfolio to witness the intersection of my design expertise and dedication to delivering visually compelling and user-friendly experiences across various digital platforms."</p>
        </div>


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
{% for pics in mod %}
<div class="col-lg-4 col-md-6 portfolio-item filter-app">
  <div class="portfolio-wrap">
    <img style="height: 200px;" src="/media/{{pics.image}}" class="img-fluid" alt="">
    <div class="portfolio-links">
      <a href="/media/{{pics.image}}" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
      <a href="{{pics.link}}" title="More Details"><i class="bx bx-link"></i></a>
    </div>
  </div>
</div>
{% endfor %}

         

        </div>

      </div>
    </section>
    <!-- End Portfolio Section -->

  

  </main>
  <!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- JS Files -->
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/typed.js/typed.umd.js"></script>
  <script src="/static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/assets/js/main.js"></script>

</body>

</html>